<h1>Creating a New Profile</h1>
<p>Find me in app/views/profiles/new.html.erb</p>


<%= render form %>

<%# link_to "My Profile", @profile,  :class => "btn btn-info"  %>

<%= link_to "Back to Main", root_path,  :class => "btn btn-info"  %>

