<div class="userBtn">
	
	<% if user_signed_in? && current_user.id === @post.user_id %>
		<%= link_to "Edit", edit_post_path, :class => "btn btn-info" %>		
	<% end %>
</div>

<%# if user_signed_in? && current_user.profile.present? && current_user.id === @profile.user_id %>
		<%# link_to "Edit", edit_profile_path, :class => "btn btn-info" %>	