<h1>Home</h1>


<div class="row">
	<div class="col-xs-12 col-md-8">
		<p> Main Content here</p>
		<ul>
			<li>search bar, all posts links</li>
			<li>all posts</li>
		</ul>

	<%= link_to "My Posts", my_posts_path %>
	<%= link_to "All Posts", posts_path %>
	<%= link_to "All Users", profiles_path %>

		

	</div>

	<div class="col-xs-12 col-md-4">
		<p>Aside content here</p>

	</div>


</div>
