<h1>Show my post</h1>

<%= @post.inspect %>


<!-- <div class="row">
	<div class="col-xs-12 col-md-12">
		<%# @posts.each do |post| %>
			<article>
				<h2>
					<%= post.title %>
				</h2>
				
				<p>	
					<%= post.updated_at%>
				</p>

				<p class="lead">
					By: <%# @post.username %>
				</p>

				<div class="content">
					<%= post.content %> 
				</div>

			</article>
		<%# end %> 

		<div class="linkBtns">
			<%# if current_user %>
			<%# link_to "Edit", edit_post_path, :class => "btn btn-info" %>
			
			<%# link_to "Manage My Posts", show_all_path, :class => "btn btn-info" %>
			<%# else %>
			<%# link_to "All Posts", index_path, :class => "btn btn-info" %>
			<%# link_to "Home", root_path, :class => "btn btn-info" %>

			<%# end %>
		</div>	
	</div>
</div>-->

