@import "bootstrap-sprockets";
@import "bootstrap";

body {
	padding-top:70px;
}
.post{
	.username{
		font-weight: bold;
	}
	.avatar-thumb{
		width: 30px;
		height: 30px;
		border-radius: 15px;
	}
	.postDate{
		font-style: italic; 
	}

}
.userBtn{
	margin-top: 50px;
	float: right;
	.btn-info{
		padding: 10px 20px;
		
	}
}
.footer{
	margin-bottom: 0px;
	height: 80px;
}
.alerts{
	font-weight: bold;
	font-size: 16px;
	.bg-success, .bg-danger{
		padding: 10px 20px;
	}
}
form{
	.error-box{
		padding: 10px 25px;
		margin-bottom: 10px;
	}
}
