@import "bootstrap-sprockets";
@import "bootstrap";

body {
	padding-top:120px;
}

.post{
	.username{
		font-weight: bold;
	}
	.avatar-thumb{
		width: 30px;
		height: 30px;
		border-radius: 15px;
	}
	.postDate{
		font-style: italic; 
	}

}

.footer{
	margin-bottom: 0px;
	height: 80px;
}